
  
  .dashboard-container {
    gap: 20px;
    
  }
  
  .report-card {
    height: 150px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    gap: 20px;
  }
  
  .report-card:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .report-card .icon {
    margin-bottom: 5px;
  }
  .report-card{
  }
  .sales {
    background: linear-gradient(135deg, #02345c, #21cdf3cb);
  }
  
  .users {
    background: linear-gradient(135deg, #046107, #8bc34ac7);
  }
  
  .inventory {
    background: linear-gradient(135deg, #b66d00, #ffc107a4);
  }
  
  mat-card-content p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

mat-card {
    width: 100%; 
    gap: 20px;

}


.mainGroup{
  background-color: rgba(238, 237, 237, 0.103);
  padding: 20px;
  border-radius: 5px;
}