
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="form">

  <div class="dashboard-container">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 col-sm-12">
                <mat-card class="report-card sales">
                    <mat-card-header>
                      <mat-icon class="icon">shopping_cart</mat-icon>
                      <mat-card-title>تعداد فروش</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>1234</p>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class="col-md-4 col-sm-12">
                <mat-card class="report-card users">
                    <mat-card-header>
                      <mat-icon class="icon">people</mat-icon>
                      
                      <mat-card-title>کاربران ثبت‌شده</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>567</p>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class="col-md-4 col-sm-12">
                <mat-card class="report-card inventory">
                    <mat-card-header>
                      <mat-icon class="icon">inventory</mat-icon>
                      <mat-card-title>وضعیت انبار</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>85%</p>
                    </mat-card-content>
                  </mat-card>
                </div>
                
            </div>
            <div class="row">
              <div class="col-12">
                <app-chart></app-chart>

              </div>
            </div>
        </div>
    </div>
  
 
  
   
  </div>


  