

<app-menu></app-menu>
<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #sidenav mode="side" position="end" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item  [ngClass]="{'selected' : menuStatus == 1}" (click)="chengeMenuStatus(1)">
        <mat-icon >dashboard</mat-icon>
        <span>داشبورد</span>
       </mat-list-item>
      
      <hr>
      <mat-list-item> 
        <mat-icon>assignment</mat-icon>

      <span>سفارشات</span>
      </mat-list-item>
      <hr>

      <mat-list-item> 
        <mat-icon>shopping_cart</mat-icon>

        <span>انبار</span>
    </mat-list-item> 
    <hr>

    <mat-list-item> 

      <mat-icon>person</mat-icon>

      <span>کابران</span>

    </mat-list-item>
    <hr>

      <mat-list-item  [ngClass]="{'selected' : menuStatus == 2}" (click)="chengeMenuStatus(2)"> 
          <mat-icon>settings</mat-icon>

          <span>تنظیمات</span>
      </mat-list-item> 
      <hr>
      <mat-list-item [ngClass]="{'selected' : menuStatus == 3}"  (click)="chengeMenuStatus(3)">
        <mat-icon>logout</mat-icon>
        <span>خروج</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    
      <mat-toolbar color="primary" *ngIf="isDesktop">
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon class="manuicon">menu</mat-icon>
        </button>
      </mat-toolbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

