
<a class="form-title">فرم تست</a>

 <div class="form">


    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">ایمیل</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
              </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">شماره تلفن</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
              </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">توضیحات</label>
                <textarea  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ></textarea>
              </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <button class="btn-reg">ثبت</button>

        </div>

        

    </div>

 </div>    